
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index6</title>
    <script>
        alert("Hello World!");
    </script>
</head>
<body>

    <div>
    </div>
</body>
</html>
