
@{
    Layout = null;

    var result = "";
    var number = 10;

    if(!IsPost)
    {
        //第一次执行
        result= "网页第一次执行"；

    }
    else
    {
        //postback
        result="按下submit按钮，送出之后"；
        if(Request)
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index91</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
